<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ========================================== -->
    <!-- 1. PERMISOS DE INTERNET Y RED              -->
    <!-- Necesarios para descargar los mapas libres -->
    <!-- ========================================== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- ========================================== -->
    <!-- 2. PERMISOS DE UBICACIÓN (GPS)             -->
    <!-- FINE_LOCATION es para el GPS exacto        -->
    <!-- ========================================== -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ========================================== -->
    <!-- 3. PERMISOS DE ALMACENAMIENTO              -->
    <!-- Para leer música y video (USB, MicroSD)    -->
    <!-- ========================================== -->
    <!-- Para radios con Android 12 o inferior: -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- Para radios modernas con Android 13 o superior: -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- ========================================== -->
    <!-- 4. PERMISO DE MICRÓFONO                    -->
    <!-- Para futuros comandos de voz o llamadas    -->
    <!-- ========================================== -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />



    <!-- ========================================== -->
    <!-- 5. EXTRAS PARA AUTO                        -->
    <!-- Evitar que la pantalla se apague           -->
    <!-- ========================================== -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- ===================================================================== -->
    <!-- 6. PERMISO CRÍTICO PARA VER APPS INSTALADAS EN ANDROID 11, 12, 13, 14 -->
    <!-- Sin esto, Android oculta las aplicaciones por seguridad               -->
    <!-- ===================================================================== -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!-- PERMISOS OBLIGATORIOS PARA LEER VIDEOS Y MÚSICA DE USB Y TABLET -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:ignore="ScopedStorage" />

    <!-- PERMISOS ESPECÍFICOS DE MULTIMEDIA Y VIDEO (ANDROID 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />


    <!-- PERMISO DE ACCESO TOTAL A ARCHIVOS PARA RADIOS Y TABLETS (ANDROID 11+) -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- PERMISO OBLIGATORIO PARA CONTROLAR EL HARDWARE DE BRILLO EN TABLETS DE AUTO -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>

        <intent>
            <action android:name="android.settings.HOME_SETTINGS" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_channel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_channel"
        android:supportsRtl="true"
        android:theme="@style/Theme.TabletLauncher"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- IMPORTANTE: Revisa que el 'theme' de arriba coincida con el nombre que te dio Android Studio -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <!-- singleTask: Evita que se abran múltiples copias del Launcher -->
            <!-- landscape: Fuerza la pantalla a estar echada (horizontal) -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- ESTAS 3 LÍNEAS LE DICEN A LA RADIO QUE ESTA APP ES EL LAUNCHER -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>